@import 'variables';
@import 'mixins';

.contact {
  padding: 120px 24px;

  @include on-tablet {
    padding: 120px 72px;
  }

  h2 {
    text-align: center;
    margin: 0 auto 48px;
    max-width: 560px;
  }

  &__content {
    display: grid;
    gap: 64px;
    place-items: start center;
  }

  @include on-tablet {
    &__content {
      grid-template-columns: minmax(0, 1.4fr) minmax(0, 1fr);
      place-items: start center;
    }
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 520px;

  input,
  textarea {
    padding: 16px;
    border: none;
    border-radius: 12px;
  }

  textarea {
    resize: none;
    height: 140px;
  }

  button {
    padding: 16px;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
  }
}
