@import'variables';
@import 'mixins';


.hero {
  height: calc(100vh - 90px);

  background-image: url('../images/header-bike.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  @include on-tablet {
    &__title {
      font-size: 48px;
    }
  }

  @include on-desktop {
    &__title {
      font-size: 64px;
    }
  }
}
