@import 'variables';

.menu {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;

  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 100;
  overflow: auto;
  &:target {
    transform: translateY(0);
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    padding: 24px 40px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
  }
}
